<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HybridApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="~/" />
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
<div class="container">
    @RenderBody()
</div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>