@page
@model HybridApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<h1>Hello from Razor Page</h1>

<component type="typeof(RazorPagesWithBlazor.Components.HelloComponent)" render-mode="Static" />

<component type="typeof(RazorPagesWithBlazor.Components.Counter)" render-mode="ServerPrerendered" />

<div hx-get="/weather" hx-trigger="load" hx-swap="innerHTML"></div>

